@font-face {
  font-family: 'Fraunces-Black';
  src: url(../policies/Fraunces/static/Fraunces/Fraunces-Black.ttf);
}

@font-face {
  font-family: 'Fraunces-Bold';
  src: url(../policies/Fraunces/static/Fraunces/Fraunces-Bold.ttf);
}

@font-face {
  font-family: 'Barlow-SemiBold';
  src: url(../policies/Barlow/Barlow-SemiBold.ttf);
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;
}

.header {
  margin: 0;
  color: white;
  background-image: url(../images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav img {
  padding: 20px;
}

.header nav ul {
  font-size: 18px;
  font-family: 'Barlow-SemiBold', sans-serif;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 10px;
  margin-bottom: 10px;
}

.header nav ul li {
  padding-right: 50px;
}

.header h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Fraunces-Black', sans-serif;
  font-size: 58px;
  position: relative;
  top: 100px;
  word-spacing: 15px;
}

.header h1 img {
  position: relative;
  top: 90px;
}

.grid-containers {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 650px 650px 650px;
      grid-template-rows: 650px 650px 650px;
      grid-template-areas: "container__1 container__2" "container__3 container__4" "container__5 container__6";
}

.grid-containers .grid-containers__container__1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container__1;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 80px;
  text-align: justify;
}

.grid-containers .grid-containers__container__1 h2 {
  font-family: 'Fraunces-Black',sans-serif;
  font-size: 42px;
  color: #24303E;
}

.grid-containers .grid-containers__container__1 p {
  font-family: 'Barlow-SemiBold',sans-serif;
  color: #808397;
  font-size: 20px;
  line-height: 1.8;
}

.grid-containers .grid-containers__container__1 span {
  font-family: 'Fraunces-Black',sans-serif;
  font-size: 24px;
  color: #24303E;
  position: relative;
  top: 10px;
}

.grid-containers .grid-containers__container__2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: container__2;
  background-image: url(../images/desktop/image-transform.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-containers .grid-containers__container__3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container__3;
  background-image: url(../images/desktop/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-containers .grid-containers__container__4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: container__4;
  padding-top: 120px;
  padding-left: 120px;
  padding-right: 80px;
  text-align: justify;
}

.grid-containers .grid-containers__container__4 h2 {
  font-family: 'Fraunces-Black',sans-serif;
  font-size: 42px;
  color: #24303E;
}

.grid-containers .grid-containers__container__4 p {
  font-family: 'Barlow-SemiBold',sans-serif;
  color: #808397;
  font-size: 20px;
  line-height: 1.8;
}

.grid-containers .grid-containers__container__4 span {
  font-family: 'Fraunces-Black',sans-serif;
  font-size: 24px;
  color: #24303E;
  position: relative;
  top: 10px;
}

.grid-containers .grid-containers__container__5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: container__5;
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-containers .grid-containers__container__5 h3 {
  text-align: center;
  font-family: 'Fraunces-Black',sans-serif;
  font-size: 28px;
  color: #24554A;
  position: relative;
  top: 350px;
}

.grid-containers .grid-containers__container__5 p {
  text-align: center;
  font-family: 'Barlow-SemiBold',sans-serif;
  font-size: 16px;
  color: #3E7467;
  padding-left: 150px;
  padding-right: 150px;
  position: relative;
  top: 350px;
}

.grid-containers .grid-containers__container__6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: container__6;
  background-image: url(../images/desktop/image-photography.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-containers .grid-containers__container__6 h3 {
  text-align: center;
  font-family: 'Fraunces-Black',sans-serif;
  font-size: 28px;
  color: #052C3B;
  position: relative;
  top: 350px;
}

.grid-containers .grid-containers__container__6 p {
  text-align: center;
  font-family: 'Barlow-SemiBold',sans-serif;
  font-size: 16px;
  color: #19536C;
  padding-left: 150px;
  padding-right: 150px;
  position: relative;
  top: 350px;
}

.client-testimonials__title {
  margin-top: 150px;
  margin-bottom: 80px;
  text-align: center;
  color: #A7AAAD;
  font-family: 'Fraunces-Black',sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}

.client-testimonials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

.client-testimonials .testimonial {
  width: 33.3%;
  text-align: center;
}

.client-testimonials .testimonial img {
  border-radius: 300px;
  margin-bottom: 30px;
}

.client-testimonials .testimonial p {
  color: #5B636D;
  font-family: 'Barlow-SemiBold',sans-serif;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}

.client-testimonials .testimonial .author {
  color: #24303E;
  font-family: 'Fraunces-Black',sans-serif;
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
}

.client-testimonials .testimonial .occupation {
  color: #A7AAAD;
  font-family: 'Barlow-SemiBold',sans-serif;
  font-size: 14px;
}

.grid-containers-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 447px;
      grid-template-rows: 447px;
      grid-template-areas: "container-1 container-2 container-3 container-4";
  width: 100%;
}

.grid-containers-2 .container-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container-1;
  background: url(../images/desktop/image-gallery-milkbottles.jpg);
  background-size: cover;
  background-position: center;
}

.grid-containers-2 .container-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: container-2;
  background: url(../images/desktop/image-gallery-orange.jpg);
  background-size: cover;
  background-position: center;
}

.grid-containers-2 .container-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: container-3;
  background: url(../images/desktop/image-gallery-cone.jpg);
  background-size: cover;
  background-position: center;
}

.grid-containers-2 .container-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: container-4;
  background: url(../images/desktop/image-gallery-sugarcubes.jpg);
  background-size: cover;
  background-position: center;
}

footer {
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #90D4C6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .about {
  padding-top: 30px;
  font-family: 'Barlow-SemiBold', sans-serif;
  font-size: 18px;
  color: #458D7E;
}

footer .about ul {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .about ul li {
  padding-right: 70px;
  padding-left: 70px;
}

footer .contact {
  padding-top: 50px;
}

footer .contact img {
  padding-right: 20px;
  padding-left: 30px;
}

@media (max-width: 540px) {
  .header {
    margin: 0;
    color: white;
    background-image: url(../images/mobile/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 538px;
  }
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header nav img {
    padding: 20px;
  }
  .header nav ul {
    visibility: collapse;
    font-size: 18px;
    font-family: 'Barlow-SemiBold', sans-serif;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .header nav ul li {
    padding-right: 50px;
  }
  .header h1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-family: 'Fraunces-Black', sans-serif;
    font-size: 48px;
    position: relative;
    top: 50px;
    word-spacing: 15px;
  }
  .header h1 img {
    position: relative;
    top: 35px;
  }
  .grid-containers {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 312px 436px 312px 436px 600px 600px;
        grid-template-rows: 312px 436px 312px 436px 600px 600px;
        grid-template-areas: "container__1" "container__2"  "container__3" "container__4" "container__5" "container__6";
  }
  .grid-containers .grid-containers__container__1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: container__2;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .grid-containers .grid-containers__container__1 h2 {
    font-family: 'Fraunces-Black',sans-serif;
    font-size: 32px;
    color: #24303E;
  }
  .grid-containers .grid-containers__container__1 p {
    font-family: 'Barlow-SemiBold',sans-serif;
    color: #808397;
    font-size: 18px;
    line-height: 1.8;
  }
  .grid-containers .grid-containers__container__1 span {
    font-family: 'Fraunces-Black',sans-serif;
    font-size: 15px;
    color: #24303E;
    position: relative;
    top: 10px;
  }
  .grid-containers .grid-containers__container__2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: container__1;
    background-image: url(../images/mobile/image-transform.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .grid-containers .grid-containers__container__3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: container__3;
    background-image: url(../images/mobile/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .grid-containers .grid-containers__container__4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: container__4;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .grid-containers .grid-containers__container__4 h2 {
    font-family: 'Fraunces-Black',sans-serif;
    font-size: 32px;
    color: #24303E;
  }
  .grid-containers .grid-containers__container__4 p {
    font-family: 'Barlow-SemiBold',sans-serif;
    color: #808397;
    font-size: 18px;
    line-height: 1.8;
  }
  .grid-containers .grid-containers__container__4 span {
    font-family: 'Fraunces-Black',sans-serif;
    font-size: 15px;
    color: #24303E;
    position: relative;
    top: 10px;
  }
  .grid-containers .grid-containers__container__5 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: container__5;
    background-image: url(../images/mobile/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .grid-containers .grid-containers__container__5 h3 {
    text-align: center;
    font-family: 'Fraunces-Black',sans-serif;
    font-size: 28px;
    color: #24554A;
    position: relative;
    top: 400px;
  }
  .grid-containers .grid-containers__container__5 p {
    text-align: center;
    font-family: 'Barlow-SemiBold',sans-serif;
    font-size: 16px;
    color: #3E7467;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 430px;
  }
  .grid-containers .grid-containers__container__6 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: container__6;
    background-image: url(../images/mobile/image-photography.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .grid-containers .grid-containers__container__6 h3 {
    text-align: center;
    font-family: 'Fraunces-Black',sans-serif;
    font-size: 28px;
    color: #052C3B;
    position: relative;
    top: 400px;
  }
  .grid-containers .grid-containers__container__6 p {
    text-align: center;
    font-family: 'Barlow-SemiBold',sans-serif;
    font-size: 16px;
    color: #19536C;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 430px;
  }
  .client-testimonials__title {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    color: #A7AAAD;
    font-family: 'Fraunces-Black',sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
  }
  .client-testimonials {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .client-testimonials .testimonial {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .client-testimonials .testimonial img {
    border-radius: 300px;
    margin-bottom: 30px;
  }
  .client-testimonials .testimonial p {
    color: #5B636D;
    font-family: 'Barlow-SemiBold',sans-serif;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .client-testimonials .testimonial .author {
    padding-top: 20px;
    color: #24303E;
    font-family: 'Fraunces-Black',sans-serif;
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
  }
  .client-testimonials .testimonial .occupation {
    color: #A7AAAD;
    font-family: 'Barlow-SemiBold',sans-serif;
    font-size: 14px;
  }
  .grid-containers-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 188px 188px;
        grid-template-rows: 188px 188px;
        grid-template-areas: "container-1 container-2" "container-3 container-4";
    width: 100%;
  }
  .grid-containers-2 .container-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: container-1;
    background: url(../images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position: center;
  }
  .grid-containers-2 .container-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: container-2;
    background: url(../images/desktop/image-gallery-orange.jpg);
    background-size: cover;
    background-position: center;
  }
  .grid-containers-2 .container-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: container-3;
    background: url(../images/desktop/image-gallery-cone.jpg);
    background-size: cover;
    background-position: center;
  }
  .grid-containers-2 .container-4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: container-4;
    background: url(../images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-position: center;
  }
  footer {
    padding-top: 80px;
    padding-bottom: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #90D4C6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    font-family: 'Barlow-SemiBold', sans-serif;
    font-size: 18px;
    color: #458D7E;
  }
  footer .about ul {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .about ul li {
    padding-right: 40px;
    padding-left: 0px;
  }
  footer .contact {
    padding-top: 50px;
  }
  footer .contact img {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.attribution {
  margin-left: 0px;
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */